.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
.baseLink {
  text-decoration: none;
  color:inherit;
}
.baseLink:hover {
  color:inherit;
}
bg-site {
  background-color: #ff0000;
}
html{
  height: 100%;
}
body{
  height: 100%;
  background: #f8f9fa !important;
}

.page-link {
  color: #198754 !important;
  cursor: pointer;
}
.current-page{
  color: #fff !important;
  background-color: #198754 !important;
}
.News-Img {
  width:50%;
  height:250px;
  background-size:cover;
  background-position:center
}
.license-row{
  position: relative;
    vertical-align: top;
    padding: 0 40px 0 0;
    text-align: left;
    font-weight: inherit;
    color: #7A8F9B;
}
.license-row::before{
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 17px;
    display: block;
    height: 1px;
    background-image: linear-gradient(to right,#bcc7cd,#bcc7cd 1px,transparent 1px,transparent);
    background-size: 3px 1px;
    background-repeat: repeat-x;
    background-position: left center;
}
@media (max-width: 992px) {
  .News-Img {
    width: 100%;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
